<!DOCTYPE html>
<html>

<head>
    <title>Vue Mastery Course</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">

            <div class="product-image">
                <img v-bind:src="image">
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <p>{{ discription }}</p>
                <a v-bind:href="link">Click here to view Product Image</a>
                <p v-if="inStock">In Stock</p>
                <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>
                <span v-if="onSale">On Sale!</span>
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                <p>Choose Color:</p>
                <div class="color-box" v-for="variant in variants" :key="variant.variantId"
                    :style="{ backgroundColor: variant.variantColor }" @mouseover="updateProduct(variant.variantImage)">
                </div>
                <p>Available Size:</p>
                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>

                <button v-on:click="addToCart" :disabled="!inStock"
                    :class="{ disabledButton: !inStock, outOfStockButton: !inStock }">Add to
                    cart</button>
                <button @click="removeFromCart">Remove from cart</button>

                <div class="cart">
                    <p>Cart({{ cart }})</p>
                </div>
            </div>

        </div>
    </div>

    <script src="main.js"></script>
</body>

</html>